@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #151515;
  background: #151515;
}

html {
  background: #151515;
  scroll-behavior: smooth;
}

.fade-entering,
.fade-exiting,
.fade-exited {
  opacity: 0;
  display: none;
}

.fade-entered {
  opacity: 1;
  display: block;
  transition: opacity 300ms;
}

.blue-bar::after {
  content: "|";
  color: #06b6d4;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 600;
}

.blue-bar:last-child::after {
  content: "";
}

.project-card:focus-within img {
  z-index: -1;
}

/* This is for Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #151515; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #06b6d4; /* Color of the scroll thumb */
  border-radius: 6px; /* Radius for the scroll thumb */
}

/* This is for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #151515 #06b6d4;
}
