@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-white: #f6f6f6;
  --primary-gray: #1c1c1c;
  --secondary-gray: #3d3d3d;
  --tertiary-gray: #2c2c2c;
  --light-gray: #d1d1d1;
  --button-outline: #6d6d6d;
  --browser-dark: #454545;
}

body,
html {
  background: var(--primary-gray);
  color: var(--primary-white);
}

.tab:not(:first-child)::after {
  height: 1.25rem;
  width: 1px;
  left: -1px;
  top: 20%;
  z-index: 10;
  position: absolute;
  background: #3d3d3d;
  border: 0 solid red;
  content: "";
}
